{% extends 'navbar.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
{% block body %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>alert("{{ message }}");</script>
{% endif %}
{% endfor %}
{% endif %}
<div class="container1">
  <div class="bodyconatiner">
    <h1 align="center">Login Page</h1>
    <form method="post" action="{% url 'login1' %}">
      {% csrf_token %}
      <label>Username</label>
        <input type="text" name="username" placeholder="Enter the username"><br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter the Password"><br><br>
        <button type="submit" name="submit">SUBMIT</button>
    </form>
  </div>
</div>
{% endblock %}
</body>
</html>